@page "/"
@inject NavigationManager _navigationManager;
@using Microsoft.AspNetCore.WebUtilities;

@code{
    [CascadingParameter] public IModalService Modal {get; set;}
    public int postId  = 0;
    protected override void OnInitialized()
    {
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        var qParam = QueryHelpers.ParseQuery(uri.Query).TryGetValue("postId", out var val);
        if(!int.TryParse(val,out postId))
        postId = 1;
        //Got the post id
    }

    private void OnClick()
    {
        var param = new ModalParameters();
        param.Add("Contents","test");

        Modal.Show<OkModal>("Test",param);
    }
}
<PageTitle>Index</PageTitle>
@* <button @onclick="OnClick">Test</button> *@


<p role="status">@postId</p>

