@page "/"
@inject NavigationManager _navigationManager;
@using Microsoft.AspNetCore.WebUtilities;

@code{
    [CascadingParameter] public IModalService Modal {get; set;}
    public int postId  = 0;
    public int pageId = 0;
    protected override void OnInitialized()
    {
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        var qParam = QueryHelpers.ParseQuery(uri.Query).TryGetValue("postId", out var val);
        if(!int.TryParse(val,out postId))
            postId = 1;
        qParam = QueryHelpers.ParseQuery(uri.Query).TryGetValue("page", out val);
        if(!int.TryParse(val,out pageId))
            pageId = 1;
        //Got the post id
    }

}
<PageTitle>Index</PageTitle>
@* <button @onclick="OnClick">Test</button> *@


<p role="status">@postId</p>
<p role="status">@pageId</p>

<TopPost/>
<Post/>
<Post/>
<Post/>
<Post/>
<Post/>
<Post/>
<Post/>
<Post/>
<Post/>
<Post/>
<Post/>