@page "/"
@inject NavigationManager _navigationManager;
@using Microsoft.AspNetCore.WebUtilities;

@code{
    public int postId  = 0;
    protected override void OnInitialized()
    {
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        var qParam = QueryHelpers.ParseQuery(uri.Query).TryGetValue("postId", out var val);
        if(!int.TryParse(val,out postId))
        postId = 1;
        //Got the post id
    }
}
<PageTitle>Index</PageTitle>



<p role="status">@postId</p>

