@inject NavigationManager _navigationManager;
<nav class="navbar navbar-expand navbar-toggleable navbar-dark bg-dark border-bottom box-shadow">
<div class="container">
    <a class="navbar-brand" href="/?postId=1" @onclick="click">Forum</a>
<div class="@NavMenuCssClass " @onclick="ToggleNavMenu">
    <nav class="flex-flex-grow-1">
        <LoginDisplay/>
    </nav>
</div>
</div>
</nav>
@code {
    void click()=> _navigationManager.NavigateTo("/",true);
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
