@*The GPLv3 License (GPLv3)

Copyright (c) 2023 Ciubix8513

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.*@

@inject NavigationManager _navigationManager;
<nav class="navbar navbar-expand navbar-toggleable navbar-dark bg-dark border-bottom box-shadow">
<div class="container">
    <a class="navbar-brand" href="/?postId=1" @onclick="click">Forum</a>
<div class="@NavMenuCssClass " @onclick="ToggleNavMenu">
    <nav class="flex-flex-grow-1">
        <LoginDisplay/>
    </nav>
</div>
</div>
</nav>
@code {
    void click()=> _navigationManager.NavigateTo("/",true);
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
