@*The GPLv3 License (GPLv3)

Copyright (c) 2023 Ciubix8513

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.*@

@using Api.Dtos;
@inject NavigationManager _navigationManager;
@inject IApiLogic _apiLogic;

@code{
    [Parameter] public RepDto data {get; set;}
    int Id;
    int PId;
    string Reason;

    protected override void OnInitialized()
    {
        if(data == null)return;
        PId = data.Id;
        Id = data.RId;
        Reason = data.Reason;
    }
    void titleClick() => _navigationManager.NavigateTo($"/User?UserId={PId}",true);
    async Task dismiss()
    {
        await _apiLogic.DeleteUserReport(Id);
        _navigationManager.NavigateTo("/Mod",true);
    }
}

<div class="m-4">
    <h2 @onclick="titleClick" style="cursor:pointer">Reported user @PId</h2>
    <div>
    Reason:<br/>
        @Reason
    </div>
    <button @onclick="dismiss" class="btn btn-primary" >dismiss</button>
</div>
